.navbar {
    display: flex;
    align-items: center;
    padding: 3rem 6rem;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    .navbar {
        padding: 2rem 3rem;
    }
}

.navbar_left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar_left_brand {
    font-size: 4rem;
}

.navbar_left_link {
    background-color: #f1f1f1;
    color: #1178eb;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 3px 5px;
}

@media screen and (max-width: 650px) {
    .navbar_left_link_text {
        display: none;
    }
}

.navbar_right_button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    box-shadow: 0 0 3px 1px #d1d5db;
    cursor: pointer;
    font-family: inherit;
    background-color: inherit;
    border: none;
    font-weight: 500;
}

@media screen and (max-width: 550px) {
    .navbar_left_brand {
        font-size: 2.2rem;
    }

    .navbar_right_button {
        padding: 7px;
        font-size: 1.2rem;
    }
}

.navbar_right_button:hover {
    box-shadow: 0 0 5px #d1d5db;
}
