.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    margin: 20px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

.main-header_left {
    display: flex;
    gap: 2rem;
}

.main-header_link {
    font-weight: 600;
    font-size: 1.3rem;
    color: #7b7b7b;
    cursor: pointer;
}

.main-header_link:hover {
    color: black;
}

.main-header_link-active {
    position: relative;
}

.main-header_link-active::after {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    bottom: -1rem;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3266;
}

.main-header_right {
    display: flex;
    gap: 0.5rem;
}

.main-header_right_icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

@media screen and (max-width: 700px) {
    .main-header_right_icon {
        display: none;
    }
}

.main-header_right_icon-active {
    color: var(--text-color);
}
