.cards {
    max-width: 90rem;
    margin: 1rem auto;
}

@media screen and (max-width: 950px) {
    .cards {
        padding: 2rem;
    }
}
.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 5rem;
}

@media screen and (max-width: 700px) {
    .cards-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.cards-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards_message {
    text-align: center;
    font-size: 1.5rem;
    color: var(--theme-color);
    margin-top: 20px;
    margin-bottom: 18px;
}

.cards_nothing-found {
    font-size: 1.5rem;
    text-align: center;
    color: var(--theme-color);
    margin-top: 18px;
}
